
/* body */
body{
  min-width: 320px;
  font-family: 'Malgun R', 'Nanum Gothic', sans-serif;
  font-size: 16px;
  letter-spacing: -0.05em;
  
}

/******** Header ********/

header{ position: relative; z-index: 10; }

/*** Co_Banner Area Start ***/
header .co_banner{ width: 100%; overflow: hidden; background: #2a5298; color: #fff; visibility: visible; opacity: 1; position: relative; z-index: 10;}
header .co_banner.off{ visibility: hidden; opacity: 0; height: 0; }
header .co_banner .inner{ position: relative; padding: 20px 0;display: flex; justify-content: space-between; align-items: center; }

/* Co_Logo */
header .co_banner h1{ margin-right: 20px; }
header .co_banner h1 a{ display: block; width: 180px; height: 35px; background: url(../img/curr.png) no-repeat; background-size: 100%; }

/* Co_Count */
header .co_banner .co_count{ width: 180px; margin-right: 20px; }
header .co_banner .co_count li{font-size: 17px;  line-height: 35px; display: flex; }
header .co_banner .co_cate{ display: inline-block; margin-right: 15px; padding: 0 15px;}
header .co_banner .curr_all{ font-weight: bold; }
header .co_banner .co_cate01{ position: relative;  border-radius: 15px; background: linear-gradient(to right, #3364ff, #6364ff); }
header .co_banner .co_cate01::after{ content:''; position: absolute; top: -5px; right: 10px; border-radius: 50%; background: #00ffae; width: 10px; height: 10px;}
header .co_banner .curr_all01{ font-size: 25px; color: #00ffae; }
header .co_banner .co_count p{ font-size: 14px; color: #00ffce;} 

/* Vac_Count*/
header .vac_count{ width: 600px; background: #0d2145; border-radius: 10px; margin-right: 180px;}
header .vac_count .table_wrap{ padding: 5px; display: flex; align-items: center; }
header .table_wrap .left{ width: 140px; text-align: center; margin-right: 10px; }
header .table_wrap .left strong { position: relative; display: block; font-size: 26px;  color: #fddc01; font-weight: 700; margin-bottom: 8px;}
header .table_wrap .left strong::after{ content:''; position: absolute; top: -20px; right: 10px; width: 10px; height: 10px; background: #fddc01; border-radius: 50%;}
header .table_wrap .left span{ display: block; font-size: 14px; line-height: 18px; }
header .table_wrap table{ width: 420px; text-align: center;}
header .table_wrap thead{ height: 28px; line-height:28px; border-bottom: 1px solid #565a30; font-size: 14px; }
header .table_wrap tbody tr{ height: 30px; line-height: 30px; }
header .table_wrap tbody th{ font-size: 14px; }
header .table_wrap tbody td{ font-size: 20px; }

/* More Button */
header .co_more{ position: absolute; right: 0; top: 20px; }
header .co_more a{ display: block; background: url(../img/curr2.png) no-repeat; width: 159px; height: 36px; background-size: 100%; }

/* Close Modal */
header form{ position: absolute; right: 0; bottom:0; }
header form fieldset{ display: block; }
header fieldset .day_close{ box-sizing: border-box; display: flex;  align-items: center; height: 28px; background: #000; font-size: 12px; color: #fff; padding: 0 10px; } 
header fieldset .day_close input{ display: inline-block; visibility: hidden; opacity: 0; }
header fieldset .day_close label{ display: block; margin-right: 8px; }
header fieldset .day_close label::before{ content:''; position: absolute; left: 10px; top: 9px; width: 12px; height: 12px; background: #fff; cursor: pointer; }
header fieldset .day_close label::after{ content:''; position: absolute; left: 10px; top: 9px; width: 12px; height: 12px; background: url(../img/check.png) no-repeat;  background-size: 100%; visibility: hidden; opacity: 0; }
header fieldset .day_close label.active::after{ visibility: visible; opacity: 1; }
header fieldset .day_close button{  width: 15px; height: 15px; }
header fieldset .day_close button::before{ content:''; display: inline-block; vertical-align: top; width: 15px; height: 15px; background-position: -50px 0; }
/*** Co_Banner Area End ***/



/*** Util Area Start***/
header .util_area{ box-sizing: border-box; height: 50px;  background: #f9f9f9; width: 100%; }
header .util_area a{ line-height: 50px; }
header .util_area .inner{ position: relative; display: flex; justify-content: space-between; }
/* family site */
header .util_area .fam_site{ background: #fff; padding: 0 15px; font-size: 15px; font-weight: bold;}
header .util_area .fam_site::before{ content:''; display: inline-block; vertical-align: middle; background: url(../img/deco.png) no-repeat; width: 26px; height: 26px; background-size: 100%; margin-right: 5px;  }
header .util_area .fam_site::after{ content:''; display: inline-block; vertical-align: middle; width: 13px; height: 13px;   background-position: -47px -67px; margin-left: 5px;}
/* join */
header .util_area .join{ margin-right: 100px; display: flex;}
header .util_area .join a{ position: relative; display: block; padding: 0 15px; font-size: 14px; color: #666; }
header .util_area .join a::after{ content:''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 10px; background: #ddd; }
/* lang box */
header .util_area .lang_box{ width: 100px; height: 50px;  position: absolute; right: 0; top: 0; cursor: pointer; font-size: 14px; text-align: center; }
header .util_area .lang_box::before{ content:''; display: inline-block; vertical-align: middle; background-position: -104px -79px; width: 17px; height: 17px;  }
header .util_area .lang_box::after{ content:''; position: absolute; right: 0; top: 25px; background-position: -67px -2px; width: 8px; height: 4px;  }
header .util_area .lang_box .label{ display: inline-block; line-height: 50px; }
header .lang_box .option_list{ position: absolute; left: 0; top: 50px;  text-align: center; width: 100%; background: #f9f9f9; overflow: hidden; height: 0; transition: .4s; z-index: 30;}
header .lang_box .option_items a{display: block;  line-height: 25px; }
header .lang_box .option_items:hover a,
header .lang_box .option_items.active a{background: #ddd;}
header .lang_box.active .option_list{ height: 75px; }
/*** Util Area End***/

/*** Navi Start***/
/* mobile btn */
.mobile_btn{display: none;}
/* Navi Wrap */
header .navi_wrap{ background: #fff;}
header .navi{ height: 140px; display: flex; background: #fff; align-items: center; justify-content: space-between; }
header .navi h1 a{ display: block; width: 139px; height: 47px; background: url(../img/logo.png) no-repeat; background-size: 100%;  }
/* Search Area */
header .navi .search_area{ width: 640px; }

/* Search Area - Search Wrap */
header .navi .search_area .search_wrap{ width: 100%; height: 50px; border-radius: 10px; position: relative; margin-bottom: 20px; }
header .navi .search_wrap .ani_wrap{ position: relative; width: 100%; height: 50px; overflow: hidden; border-radius: 10px; }
header .navi .search_wrap .search_ani{ position: absolute; top: 0; width: 400%; height: 50px; background-color: #394dad; background-image: linear-gradient( 300deg, #97c9ff 0%, #3a9aba 20%, #394dad 40%, #97c9ff 60%, #3a9aba 80%, #394dad 100%); animation: moving 10s linear infinite;  }
  @keyframes moving{
    0%{ left: 0; }
    50%{ left: -300%; }
    100%{ left:0; }
  }
header .navi .search_wrap .search_container{ position: absolute; left: 3px; top: 3px; background: #fff; width: 634px; height: 44px; border-radius: 8px; padding: 5px; box-sizing: border-box; display: flex; justify-content: space-between; }

/* cate select */
header .navi .search_container .cate_select{ text-align: center; width: 100px; position: relative; }
header .navi .search_container .cate_select::after{ content:''; position: absolute; right: 0; top:16px; background-position: -37px -2px; width: 10px; height: 6px; }
header .navi .cate_select .search_cate{ font-size: 15px; height: 34px; line-height: 34px; font-weight: bold;}
header .navi .cate_select .search_list{ width: 100%; position: absolute; left: 0; top: 34px; background: #f9f9f9;   z-index: 35; transition: .4s; overflow: hidden; height: 0; }
header .navi .cate_select .cate_items a{ display: block; line-height: 22px; font-size: 15px;}
header .navi .cate_select .cate_items:hover a{ background: #ddd; }
header .navi .cate_select.active .search_list{  height: 132px; }

/* input box */
header .navi .search_container form{width: calc(100% - 140px);  height: 100%;  box-sizing: border-box;}
header .search_container fieldset{ display: flex; padding: 3px 0; }
header .search_container .input_area{ width: calc(100% - 40px);  }
header .search_container input{ outline: none; border: none; margin: 0; padding: 0;  background-color: transparent;  }
header .search_container .input_area input{ height: 100%; width: 100%;  }
header .search_container .sub_btn{ width: 38px; height: 38px;  background: #394dad; 
  background: linear-gradient( 300deg, #3a9aba, #394dad);  position: relative; border-radius: 5px; cursor: pointer;}
header .search_container .sub_btn input { width: 100%; height: 100%; }
header .search_container .sub_btn label { position: absolute; width: 100%; height: 100%; }
header .search_container .sub_btn::before{ content:''; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 21px; height: 21px; background-position: -104px -98px; }

/* Search Area - Keyword Area */
header .search_area .key_word_wrap{ display: flex;  position: relative; height: 20px; }
header .key_word_wrap strong{ font-weight: bold; display: block; width: 90px;}
header .key_word_wrap .swiper{ width: calc(100% - 160px); position: relative; margin: 0  10px ; }
header .key_word_wrap .swiper-slide{ width: auto; }
header .key_word_wrap .swiper-slide:hover a{ text-decoration: underline; }

/* key nav */
header .key_word_wrap .key_nav{ width: 40px; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); }
header .key_word_wrap .key_nav button i{ display: inline-block; vertical-align: middle; width: 5px; height: 10px; margin-top: -2px; }
header .key_word_wrap .key_nav .prev i{ background-position: -17px -2px;  margin-left: 10px; }
header .key_word_wrap .key_nav .next i{ background-position: -27px -2px;}
header .key_word_wrap .key_nav .next{ margin-left: 5px; }

/* Weather Area */
header .navi .weather{ width: 216px; }
header .navi .weather ul{ display: flex; justify-content: space-between; }
header .navi .weather ul li{ font-size: 15px; }
header .navi .weather ul li a i{ display: inline-block; vertical-align: top; width: 13px; height: 13px; background-position: -79px -2px; margin-left: 5px;  }
header .navi .weather .weather_date{ display: block; margin-bottom: 15px; }
header .navi .weather .weather_status{ display: block; font-weight: bold; }
header .weather .weather_status::before{ content:''; display: inline-block; vertical-align: middle; background-position: 0 -118px; width: 32px; height: 32px; margin-right: 5px; }
header .weather .weather_status1::before{ background-position: -35px -122px; width: 28px; height: 28px; margin-right: 10px;}
/*** Navi End ***/


/*** Gnb Area Start ***/
/* 비활성화 */
.hide{ display: none; }
/* Gnb Wrap */
header .gnb_wrap{ position: relative; z-index:30; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd; background: #fff;}
header .gnb_wrap.on{ position: fixed; left: 0; top: 0; width: 100%; }
/* NAV */
header .gnb_wrap .gnb_area{ text-align: center; }
header .gnb_wrap .gnb_area nav{ display: inline-block; }
header .gnb_area nav>ul{ text-align: center; display: flex; }
header .gnb_area nav>ul>li{ width: 158px; }
header .gnb_area nav>ul>li>a{  position: relative; display: block;  font-weight: bold; line-height: 50px; font-size: 18px; transition: .2s;}
header .gnb_area nav>ul>li>a::before{ content:''; position: absolute; left: 50%; bottom: 10px;  width: 80px; transform: translateX(-50%); height: 12px; border-radius: 10px; background: rgba(138,197,240, .2); display: none; }
header .gnb_area nav>ul>li>a::after{ content:''; position: absolute; left: 50%; bottom: -4px; width: 8px; height: 8px; border-radius: 50%; background: #3a82b6; z-index: 20; display: none; transition: .4s;}
header .gnb_area nav>ul>li:hover>a::after,
header .gnb_area nav>ul>li.active>a::after,
header .gnb_area nav>ul>li:hover>a::before,
header .gnb_area nav>ul>li.active>a::before{ display: block; }
header .gnb_area nav>ul>li:hover>a{ color: #3a82b6; }

/* LNB */
header .gnb_area nav .lnb{position: absolute; left: 0; top: 50px; width: 100%; z-index: 10; background: #fff; visibility: hidden; opacity: 0; padding: 30px 0; text-align: left; border-top: 1px solid #ddd; }
/* LNB 활성화 */
header .gnb_area nav .lnb.active{ visibility: visible; opacity: 1; }
header .gnb_area .lnb>ul{ display: flex; flex-wrap:wrap;   }
header .gnb_area .lnb>ul>li{ width: calc((100% - 80px)/5); margin-right: 20px;}
header .lnb>ul>li:nth-child(5n){ margin-right: 0; }
header .lnb>ul>li>a{ position: relative; box-sizing: border-box; display: block; width: 100%; height: 40px; line-height: 38px; border: 1px solid rgba(119,119,119, .3); border-radius: 5px; padding: 0 15px; font-size: 15px;  transition: .3s; }
header .gnb_area .lnb>ul>li>a.angle_down::after{ content:'';  position: absolute; top: 50%; right: 15px; transform: translateY(-50%); background-position: 0 -101px; width: 10px; height: 6px;  }
header .gnb_area .lnb>ul>li:hover>a{ border: 1px solid #3a82b6; color: #3a82b6;   }
header .gnb_area .lnb .sub{ padding: 10px 0; }
header .gnb_area .lnb .sub li{ padding: 0 10px; }
header .gnb_area .lnb .sub li a{ color: #777; font-size: 13px; line-height: 24px;}
header .gnb_area .lnb>ul>li>a.blank_ico::after ,header .gnb_area .sub a.blank_ico::after{ content:''; display: inline-block; vertical-align: top; width: 13px; height: 13px; background-position: -47px -67px; margin: 14px 0 0 3px; }
header .gnb_area .sub a.blank_ico::after{ margin: 7px 0 0 3px; }
header .gnb_area .lnb .sub li a::before{ content:''; display: inline-block; vertical-align: middle; width: 3px; height: 3px; border-radius: 50%; background: #ddd; margin-right: 10px;}
header .gnb_area .lnb .sub li:hover a{ color: #3a82b6;  text-decoration: underline;}

/* Double Size Menu */
header .gnb_area .sub_wrap{ display: flex; }
header .gnb_area .sub_wrap>ul{ width: 50%; }
header .gnb_area .lnb>ul>li.doub{ width: calc((100% - 40px - ((100% - 80px)/5))/2); margin-right: 20px;}

/* Menu04 */
header .gnb_area .menu04 .lnb>ul>li:nth-child(5n){ margin-right: 20px; }
header .gnb_area .menu04 .lnb>ul>li:nth-child(3),
header .gnb_area .menu04 .lnb>ul>li:nth-child(8){ margin-right: 0px; }

/* Menu05 */
header .gnb_area .menu05 .lnb>ul>li:nth-child(4),
header .gnb_area .menu05 .lnb>ul>li:nth-child(9){ margin-right: 0px; }
header .gnb_area .menu05 .lnb>ul>li:nth-child(3),
header .gnb_area .menu05 .lnb>ul>li:nth-child(5),
header .gnb_area .menu05 .lnb>ul>li:nth-child(8){ margin-right: 20px; }

/* Menu06 */
header .gnb_area .menu06 .lnb{ background: #f4f5f9; }
header .gnb_area .menu06 .lnb>ul{ display: flex; flex-wrap:wrap; }
header .gnb_area .menu06 .lnb>ul>li{ width: 120px; height: 110px;  margin-right: 0;  }
header .gnb_area .menu06 .lnb>ul>li:nth-child(-n+10){ margin-bottom: 20px; }
header .gnb_area .menu06 .lnb>ul>li>a{position: relative; display: block; border: 0; width: 120px; height: 110px; padding: 0;  line-height: 1;padding-top: 90px; }
header .gnb_area .menu06 .lnb>ul>li:hover>a{display: block; border: none; position: relative; }
header .gnb_area .menu06 .lnb a::before{ content:''; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 80px; height: 80px; border-radius: 10px; margin-bottom: 10px;box-sizing: border-box; }
header .gnb_area .menu06 .lnb a::after{display: none; }
header .gnb_area .menu06 .lnb li:hover a::before{ border: 1px solid #3a82b6; }
header .gnb_area .menu06 a .txt{ display: block; text-align: center; font-size: 15px; font-weight: bold;  }

header .menu06 .lnb li.img_01 a::before{ background-position: 0 0;  }
header .menu06 .lnb li.img_02 a::before{ background-position: -82px 0;  }
header .menu06 .lnb li.img_03 a::before{ background-position: -164px 0; }
header .menu06 .lnb li.img_04 a::before{ background-position: -246px 0; }
header .menu06 .lnb li.img_05 a::before{background-position: -328px 0;  }
header .menu06 .lnb li.img_06 a::before{ background-position: 0 -84px; }
header .menu06 .lnb li.img_07 a::before{ background-position: -82px -84px; }
header .menu06 .lnb li.img_08 a::before{ background-position: -164px -84px; }
header .menu06 .lnb li.img_09 a::before{ background-position: -246px -84px; }
header .menu06 .lnb li.img_10 a::before{ background-position: -328px -84px;  }
header .menu06 .lnb li.img_11 a::before{ background-position: 0 -168px; }
header .menu06 .lnb li.img_12 a::before{ background-position: -82px -168px; }
header .menu06 .lnb li.img_13 a::before{ background-position: -164px -168px; }
header .menu06 .lnb li.img_14 a::before{ background-position: -246px -168px;  }
header .menu06 .lnb li.img_15 a::before{ background-position: -328px -168px; }
header .menu06 .lnb li.img_16 a::before{ background-position: 0 -252px;  }
header .menu06 .lnb li.img_17 a::before{ background-position: -82px -252px; }
header .menu06 .lnb li.img_18 a::before{ background-position: -164px -252px; }
header .menu06 .lnb li.img_19 a::before{ background-position: -246px -252px; }
header .menu06 .lnb li.img_20 a::before{ background-position: -328px -252px; }

/* Menu Btn */
header .gnb_area .menu_btn{ position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 30px; height: 50px; margin-left: 580px; }
header .gnb_area .menu_btn .bar{ width: 30px; height: 3px; position: absolute; left: 0; background: #000; }
header .gnb_area .menu_btn .bar1{ top: 17px; }
header .gnb_area .menu_btn .bar2{ top: 25px;}
header .gnb_area .menu_btn .bar3{ top: 33px;}
/*** Gnb Area End ***/



/********* Footer *********/

/*** f_top ***/
footer .f_top{ background: #fff; border: 1px solid #ddd;}
footer .f_top>ul{ position: relative; width: 100%; }
footer .f_top>ul>li{ width: 20%; float: left; box-sizing: border-box; border-right: 1px solid #ddd; padding:0 10px;}
footer .f_top>ul>li:first-child{ border-left: 1px solid #ddd; }
footer .f_top>ul>li>a{ position: relative; display: block; line-height: 55px; }
/* angle-up, down, right */
footer .f_top>ul>li>a::before{content:''; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background-position:  -52px -57px; width: 14px; height: 8px;  }
footer .f_top>ul>li>a::after{ content:''; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); width: 14px; height: 8px; background-position: -36px -57px; visibility: hidden; opacity: 0; }
footer .f_top>ul>li.active>a::after{ visibility: visible; opacity: 1; }
footer .f_top>ul>li.active>a::before{ visibility: hidden; opacity: 0; }
footer .f_top>ul>li:last-child a::before{ width: 8px; height: 14px; background-position: -72px -53px;  }
footer .f_top>ul>li:last-child a::after{ display: none; }

/* Footer Menu Board */
footer .f_top .f_menu{ position: absolute; left: 0; bottom: 55px; width: 100%; background: #fff; padding: 20px; box-sizing: border-box; border: 1px solid #ddd;  visibility: hidden; }
footer .f_top .f_menu.active{ visibility: visible; }
footer .f_top .f_menu>ul{ display: flex; }
footer .f_top .f_menu>ul>li{ width: 25%; }
footer .f_top .f_menu ul li a{ line-height: 25px; }
footer .f_top .f_menu ul li:hover>a{ font-weight: bold; }
/* Footer Menu02 */
footer .f_top .menu02 .f_menu>ul>li{ width: 33%; }
footer .f_top .menu02 .f_menu>ul>li>a{ display: block; font-weight: bold; margin-bottom: 10px;}
footer .f_top .menu02 .f_menu .box{ display: flex; }
footer .f_top .menu02 .f_menu .box ul{ width: 33.3%; }


/*** f_bottom ***/
footer .f_bottom{ background: #f9f9f9; padding: 25px 0; }
footer .f_bottom .inner{ display: flex; }
/* address legal*/
footer .f_bottom address{ padding: 0 20px;  }
footer .f_bottom address .legal{ margin-bottom: 10px; }
footer .f_bottom .legal li{ float: left; }
footer .f_bottom .legal a{ display: inline-block; font-weight: bold; font-size: 14px; line-height: 28px; color: #666; }
footer .f_bottom .legal li::after{ content:''; display: inline-block; vertical-align: middle; width: 1px; height: 10px; background: #ddd; margin: 0 10px; }
/* address contact */
footer .f_bottom address .contact{  display: flex; }
footer .f_bottom address .contact a{ margin-right: 20px; }
footer .f_bottom address .contact p{ line-height: 30px; font-size: 15px;}
footer .f_bottom address .contact .copyright{ font-size: 14px; color: #999; }

/* auth */
footer .f_bottom .auth{ width: 318px; display: flex; justify-content: space-between; align-items: center;}


/******* Media Query *******/
/* 1300 */
@media screen and (max-width:1300px) {
  /* Header */
/* Co banner */
header .co_banner .inner{ padding: 30px 20px; }
header .co_banner h1 a{ margin-top: -40px; }
header .co_banner .co_count{ margin-right: 0; width: 150px;}
header .vac_count{ margin-right: 0; }
header .co_banner .co_count li{font-size: 14px;  line-height: 24px; }
header .co_banner .co_cate{ padding: 0 10px; margin-right: 0; }
header .co_banner .co_cate01{ background: transparent; }
header .co_banner .co_cate01::after{ top: 0;width: 5px; height: 5px; }
header .co_banner .curr_all01{ font-size: 14px; }
header .co_banner .co_count p{ margin-top: 10px; }
header .co_more{ right: auto;left: 20px; top: 90px; }

/* Util Area */
header .util_area{ padding: 0 50px; }

/* Navi */
header .navi{ padding: 0 50px; }
header .navi .search_area{ width: 540px; }
header .navi .search_wrap .search_container{ width: 534px; }
header .navi .weather{ width: 200px; }

/* Gnb Area */
/* Nav */
header .gnb_area .menu_btn{ margin-left: 487px; }
header .gnb_area .lnb>ul>li{ width: calc((100% - 60px)/4); margin-right: 20px;}
header .lnb>ul>li:nth-child(4n){ margin-right: 0; }
header .lnb>ul>li:nth-child(5n){ margin-right: 20px; }

/* Double Size Menu */
header .gnb_area .lnb>ul>li.doub{ width: calc((100% - 20px)/2); margin-right: 20px; }

/* Lnb */
header .gnb_area nav .lnb{ padding: 30px 50px; box-sizing: border-box;}
/* Menu04 */
header .gnb_area .menu04 .lnb>ul>li:nth-child(3),
header .gnb_area .menu04 .lnb>ul>li:nth-child(4n){ margin-right: 20px; }
header .gnb_area .menu04 .lnb>ul>li:nth-child(2),
header .gnb_area .menu04 .lnb>ul>li:nth-child(6),
header .gnb_area .menu04 .lnb>ul>li:nth-child(10){ margin-right: 0px; }

/* Menu05 */
header .gnb_area .menu05 .lnb>ul>li:nth-child(3),
header .gnb_area .menu05 .lnb>ul>li:nth-child(7){ margin-right: 0px; }
header .gnb_area .menu05 .lnb>ul>li:nth-child(4){ margin-right: 20px; }

/* Menu06 */
header .gnb_area .menu06 .lnb>ul>li{ width: 10%; height: 110px; margin-right: 0;  }
header .gnb_area .menu06 .lnb>ul>li>a{ width: 80px; }


/* Footer */
footer .f_top>ul>li>a::before{ right: 0; }
footer .f_bottom{ padding: 20px 50px; }
footer .f_bottom address{ padding: 0; }

}


/* 1024 */
@media screen and (max-width:1024px) {
 /* Header */
/* Co banner */
header{ z-index: auto; }
header .co_banner .inner{ padding: 30px 50px; display: block;  }
header .co_banner h1 a{ background: url(../img/logo_moblie2.png) no-repeat; width: 180px; height: 35px; background-size: 100%; margin: 0;}
header .vac_count{ width: 100%;}
header .vac_count .table_wrap{ justify-content: center; }
header .co_more {right: 50px; left: auto; top: 20px; }
header .co_banner .co_count{ width: 100%; display: flex; justify-content:  space-between;}
header .co_banner .co_count>ul{ margin-bottom: 5px; }
header .co_banner .co_count p{ margin-top: 30px;  }

/* Util Area 활성화 */
header .util_area.on{ position: fixed; left: 0; top: 0; width: 100%; z-index:45; }

/* Navi */
header .navi{ display: block; height: auto; position: relative; }
.m_group{width: 100%;  box-sizing: border-box; }
.m_group.active{ position: fixed; left: 0; top: 0; width: 100%; background: #fff; z-index: 30; padding:0 50px; }
.m_group.active .mobile_btn{ top: 50%; transform: translateY(-50%); }
.m_group.active h1{ margin-top: 10px; }
header .navi h1 a{ width: 95px; height: 32px; background-size: 100%; }
header .navi h1{ margin-bottom: 10px; }
.mobile_btn{ width: 35px; height: 32px; display: block;position: absolute; right: 50px; top: 0;}
.mobile_btn .bar{ position: absolute; right: 0; height: 3px; background: #000; }
.mobile_btn .bar1{ width: 35px; top: 7px;  }
.mobile_btn .bar2{ width: 25px; top: 16px; }
.mobile_btn .bar3{ width: 15px; top: 25px; }
header .navi .search_area{ width: 100%; }
header .navi .search_wrap .search_container{ width: calc(100% - 6px); }
header .navi .search_area .search_wrap{ margin-bottom: 10px; }
header .search_area .key_word_wrap{ margin-bottom: 10px; }
header .navi .weather{ width: 100%; box-sizing: border-box; border: 2px solid #e8e8e8; }
header .navi .weather ul{ justify-content: start; }
header .navi .weather ul li{ width: 50%; text-align: center; line-height: 30px;}
header .navi .weather .weather_date{ display: inline-block; margin-bottom: 0;margin-right: 5px; font-size: 14px; }
header .navi .weather .weather_status{ display: inline-block; font-size: 14px;}
header .navi .weather span::before{ display: none;}
header .navi .weather ul li a{ position: relative; }
header .navi .weather ul li a i{display: block; position: absolute; right: -20px; top: 5px; }

/* Gnb Area (Mobile)*/
/* hide */
.hide{ display: block; }
.hide2{ display: none; }
header .gnb_area .menu_btn{ display: none;}
/* Gnb Wrap */
header .gnb_wrap{ border: none; position: fixed; right: -460px; top: 50px; width: 460px; height: calc(100% - 50px); box-sizing: border-box ;  overflow-y: auto; background: #fff; overflow-x: hidden; transition: .4s; z-index: 40; }
header .gnb_wrap.active{ right: 0; }
header .gnb_wrap .gnb_area{text-align: left; }
/* NAV */
/* logo */
header .gnb_wrap .gnb_area h1 { position: relative;  background: #0b2642;height: 50px;  }
header .gnb_wrap .gnb_area h1 a{ display: block; padding: 0 20px; box-sizing: border-box; height: 100%; }
header .gnb_wrap .gnb_area h1 a::before{content:'';display: inline-block; vertical-align: top; background: url(../img/moblie_logo.png) no-repeat; width: 95px; height: 32px; background-size: 100%; margin-top: 8px; }
/* close Btn */
header .gnb_wrap .gnb_area h1 i{ position: absolute; right: 20px; top: 7px; vertical-align: top; width: 37px; height: 37px; background-position: -68px -113px; }
/* menu */
header .gnb_area nav{ width: 100%; }
header .gnb_area nav>ul{ display: block; }
header .gnb_area nav>ul>li{ position: relative; width: 100%; }
header .gnb_area nav>ul>li::before{ content:''; position: absolute; right: 20px; top: 21px;width: 15px; height: 9px; background-position: -127px -141px; display: block;}
header .gnb_area nav>ul>li.active::before{ display: none; }
header .gnb_area nav>ul>li::after{ content:''; position: absolute; right: 20px; top: 21px; width: 15px; height: 9px; background-position: -110px -141px; display: none;}
header .gnb_area nav>ul>li.active::after{ display: block; }
header .gnb_area nav>ul>li>a{ display: block; text-align: left; padding: 0 20px; border-bottom: 1px solid #ccc; }
header .gnb_area nav>ul>li:hover>a{ color: #000; }
header .gnb_area nav>ul>li>a::before, 
header .gnb_area nav>ul>li>a::after{ width: 0; height: 0; background-color: transparent; }
/* LNB */
header .gnb_area nav .lnb{  position: relative; top: 0; z-index: 0; border: 0; visibility: visible; opacity: 1; padding: 0; height: 0; overflow: hidden; }
header .lnb>ul>li{ border-bottom: 1px solid #ddd; }
header .lnb>ul>li>a{ border: 0; position: relative; }
header .lnb>ul>li>a::before{ content:''; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); width: 12px; height: 12px;background-position: -132px -127px; }
header .gnb_area .lnb>ul>li:hover>a{ border: 0; color: #000; }
header .gnb_area .lnb>ul>li>a::after{ display: none; }
header .gnb_area .lnb>ul{ display: block; background: #f5f5f5; }
header .gnb_area .lnb>ul>li{ width: 100%; margin-right: 0; }
header .gnb_area .lnb>ul>li.doub{ width: 100%; }
header .gnb_area .lnb>ul>li>a{  padding: 0 20px; }

/* Sub menu (3depth) */
header .gnb_area .lnb .sub{ display: none; }

/* Menu06 */
header .gnb_area .menu06 .lnb>ul{ display: block; }
header .gnb_area .menu06 .lnb a::before{ display: none; }
header .gnb_area .menu06 .lnb>ul>li { width: 100%; height: auto; }
header .gnb_area .menu06 .lnb>ul>li{ position: relative; }
header .gnb_area .menu06 .lnb>ul>li::before{ content:''; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); width: 12px; height: 12px;  display: block; background-position: -132px -127px; }
header .gnb_area .menu06 .lnb>ul>li>a{ height: auto; padding-top: 0; line-height: 40px; }
header .gnb_area .menu06 a .txt{ font-weight: normal;text-align: left; padding: 0 20px; box-sizing: border-box; display: block; }
header .gnb_area .menu06 .lnb>ul>li:nth-child(-n+10){ margin-bottom: 0; }
header .gnb_area .menu06 .lnb>ul>li:nth-child(10n){ margin-right: 0; }
header .gnb_area .menu06 .lnb>ul>li>a{ width: 100%; }

/* Footer */
/* Footer Top */
footer .f_top{ border: none; padding: 0 50px;}
/*  footer nav */
footer .f_top>ul>li{ width: 100%; float: none; margin-bottom: 10px; background: #f6f8fb; border: 0; border: 1px solid #ddd; box-sizing: border-box; padding: 0;}
footer .f_top>ul>li>a{ height: 36px; line-height: 36px; padding: 0 10px; }
/* footer menu */
footer .f_top .f_menu{ height: 0; overflow: hidden; visibility: visible; opacity: 1; position: relative; top: 0; bottom: auto; background: #f6f8fb; padding: 0; border: 0; }
footer .f_top .f_menu>ul{ width: 100%; box-sizing: border-box; display: block;  border-top: 1px solid #ddd; padding: 15px 0;}
footer .f_top .f_menu>ul::after{ content:''; display: block; clear: both; }
footer .f_top .f_menu>ul>li{ width: 50%; float: left;  box-sizing: border-box;padding: 0 10px;}
footer .f_top>ul>li>a::before{ right: 10px; }
footer .f_top>ul>li:last-child>a::before{ visibility: visible; opacity: 1; }
footer .f_top .f_menu ul li a{ font-size: 14px; color: #555;}

/* Footer Bottom */
footer .f_bottom .inner{ display: block; }
footer .f_bottom address{ margin-bottom: 15px; }
}


/* 768 */
@media screen and (max-width:768px) {

/* Header */
header .co_banner .inner{ padding:20px 20px 30px; }
header .co_more{ right: 20px; }
header .util_area{ padding: 0 20px; }
header .util_area .join a{ padding: 0 10px; }
header .navi{ padding: 0 20px; }
.m_group.active{ padding: 0 20px; }
.mobile_btn{ right: 20px; }
.m_group.active .mobile_btn{ right: 20px; }
header .key_word_wrap .swiper-slide a{ font-size: 14px; }

/* Footer */
footer .f_top{ padding: 0 20px; }
footer .f_bottom{ padding: 20px; }
footer .f_top .f_menu>ul{ padding: 0 10px; }
footer .f_top .f_menu>ul>li{ padding: 0; }
footer .f_top .menu02 .f_menu .box{ display: block; }
footer .f_top .menu02 .f_menu>ul>li>a{ margin-bottom: 5px; }
footer .f_top .menu02 .f_menu .box ul{ width: 100%; }

footer .f_bottom address .contact p{ font-size: 13px; }
}

/* 576 */
@media screen and (max-width: 576px) {
  
/* Header */
/* Co Banner */
header .co_banner .inner{ padding: 10px 10px 30px; }
header .co_more{ top: 10px; right: 10px; }
header .co_more a{ width: 100px; height: 27px; }
header .vac_count .table_wrap{ width: 100%; display: block; padding: 5px 0; }
header .table_wrap .left{ width: 100%; margin-bottom: 5px; }
header .table_wrap .left strong{ font-size: 20px; margin-bottom: 0; }
header .table_wrap .left span{ font-size: 13px; }
header .table_wrap .left strong::after{ display: none; }
header .table_wrap table{ width: 100%; }
header .table_wrap thead{ width: 100%; font-size: 11px; border-top: 1px solid #565a30; }

header .table_wrap tbody th{ font-size: 13px; }
header .table_wrap tbody td{ font-size: 14px; }

/* Util Area */
header .util_area{ padding: 0 10px; }
header .util_area .inner{  justify-content: end; }
header .util_area .fam_site{ display: none; }
header .util_area .join a{ padding: 0 5px; font-size: 12px; }

/* Navi */
.m_group.active{ padding: 0 10px; }
.mobile_btn{ right: 10px; }
header .navi{ padding: 0 10px; }
/* Navi - Search Area */
/* Search Area - Search Wrap */
header .navi .search_area .search_wrap{ height: 40px; }
header .navi .search_wrap .ani_wrap{ height: 40px; }
header .navi .search_wrap .search_ani{ height: 40px; }
header .navi .search_wrap .search_container{ height: 34px; padding: 0; }
header .navi .search_container .cate_select{ width: 85px; font-size: 13px; }
header .navi .search_container form{ width: calc(100% - 90px); }
header .search_container fieldset{ padding: 0; height: 100%; }
header .search_container .input_area{ width: calc(100% - 34px); }
header .search_container .sub_btn{ width: 30px; height: 30px; margin-top: 2px; margin-right: 2px; }

/* Search Area - Key Word Wrap */
header .key_word_wrap strong{width:65px; font-size: 13px; line-height: 20px;}
header .key_word_wrap .swiper{width: calc(100% - 115px);}
header .key_word_wrap .swiper-slide a{ font-size: 12px; }
header .key_word_wrap .key_nav{ right: 0; }

/* Navi - Weather */
header .navi .weather{ border: 1px solid #e8e8e8; }
header .navi .weather ul li{ line-height: 28px; }
header .navi .weather .weather_date{ font-size: 12px; }
header .navi .weather .weather_status{ font-size: 13px; }

header .util_area{ height: 40px; line-height: 40px; }
header .util_area a{ line-height: 40px; }
header .util_area .lang_box::after{ top: 20px; }
header .lang_box .option_list{ top: 40px; }



/* Gnb Wrap(Mobile) */
header .gnb_wrap{ width: 100%; right: -100%; top: 40px; height: calc(100% - 40px);}
header .gnb_wrap.active{ right: 0; } 
header .gnb_wrap .gnb_area h1{ height: 40px; }
header .gnb_wrap .gnb_area h1 a::before{ width: 80px; background-size:100%; margin-top: 5px; }
header .gnb_wrap .gnb_area h1 a{ padding: 0 10px; }
header .gnb_wrap .gnb_area h1 i{ right: 10px; width: 23px; height: 23px; background-size: 88px 94px; background-position: -42px -71px;top: 9px; }
header .gnb_area nav>ul>li::before{ top: 16px; right: 14px; }
header .gnb_area nav>ul>li::after{ top: 16px; right: 14px; }
header .gnb_area nav>ul>li>a{ padding: 0 10px; line-height: 40px; font-size: 15px; }
header .gnb_area .lnb>ul>li>a{ padding: 0 10px; font-size: 13px; height: 35px; line-height: 35px; }



/* Footer */
/* Top */
footer .f_top{ padding: 0 10px; }
footer .f_top>ul>li>a{ line-height: 30px; height: 30px; font-size: 14px; }
footer .f_top .f_menu>ul>li{ float: none; width: 100%; font-size: 12px; }
footer .f_top .menu02 .f_menu>ul{ display: flex; }

/* bottom */
footer .f_bottom{ padding: 10px; }
footer .f_bottom .legal a{ font-size: 12px; line-height: 22px;}
footer .f_bottom address .contact{display: block; }
footer .f_bottom address .contact a{display: block; margin-bottom: 10px; }
footer .f_bottom address .contact a img{ width: 80px; object-fit: cover; }
footer .f_bottom address .contact p{ line-height: 22px; font-size: 12px;}
footer .f_bottom .auth{ width: 100%; justify-content: start; }
footer .f_bottom .auth li{  margin-right: 10px; }
footer .f_bottom .auth li:last-child{ display: none; }
footer .f_bottom .auth li img{ width: 70px; }

} 