@charset "utf-8";

/*** Popup Area ****/
.popup_wrap{ display: flex; justify-content: center; align-items: flex-end; position: fixed; left: 0; top: 0; width: 100%; height:100vh;  background: rgba(0,0,0, 0.8); z-index: 12; visibility: visible; opacity: 1;  }
.popup_wrap.active{ visibility: hidden; opacity: 0;}
.popup_wrap .popup{ width: 100%; }
.popup_wrap .swiper{ width: 100%; height: auto; position: relative; }
.popup_wrap .swiper-slide img{ width: 100%; object-fit: cover;  border-top-right-radius: 30px; border-top-left-radius: 30px; }
.popup_wrap .pagination{ position: absolute; top: 20px; right:4%; bottom: auto; left: auto; text-align: right; z-index: 4; color: #fff; }
.popup_wrap .popup .close_area{height: 50px; line-height: 50px; background: #fff; display: flex; justify-content: space-between; align-items: center;  box-sizing: border-box; padding: 0 15px; }
.popup_wrap .popup button{ outline: none; padding: 0; border: 0; margin: 0; background-color: transparent;   font-family: "Noto Sans KR",sans-serif; }
.popup_wrap .popup .close_day{ color: #777; cursor: pointer;  }
.popup_wrap .popup .close_now{ color: #2d2d2d; cursor: pointer; }

/*** Main Visual Area ****/
.main_vis{ padding-top: 50px; width: 100%; overflow: hidden; }
.main_vis .swiper{ position: relative; }
.main_vis .swiper-slide img{ width: 100%; object-fit: cover; }
.main_vis .swiper .pagination{ position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); width: 42px; text-align: center; border-radius: 8px; font-size: 12px; padding: 4px 0;
 background: rgba(0,0,0, 0.6); color: #fff; z-index: 5; }

/*** Fall21 Area ****/
.fall21 .swiper{ padding: 0 10px; height: 152px; }
.fall21 .swiper-slide{ position: relative; box-sizing: border-box; border: 1px solid #eaeaea; }
.fall21 .today_visit{ box-sizing: border-box; padding: 30px 0; width: 180px;  font-family: 'Helvetica Neue R',sans-serif; text-align: center; }
.fall21 .today_visit em{ display: block; font: bold 16px/22px 'Helvetica Neue M' ,sans-serif; }
.fall21 .today_visit #num01{ display: block; font-size: 36px; line-height: 50px; font-weight: bold; }
.fall21 .today_visit .txt_more{ display: block;font-size: 14px; line-height: 20px; color: #777; text-decoration: underline; }

.fall21 .slide_box{ width: 120px; text-align: center; }
.fall21 .slide_box.slide_box01 .img_wrap img{ width: 60%; }
.fall21 .slide_box .img_wrap{ display: flex; justify-content: center; align-items: center; padding: 10px 0; width: 100%; height: 100px; }
.fall21 .slide_box .img_wrap img{ width: 70%; object-fit: cover; }
.fall21 .slide_box .pdt_cate{ display: block; font-size: 13px; font-family: 'Helvetica Neue M'; }

/*** Best Item Area ****/
.best_items{ position: relative; }
.best_items .issue_deco{ position: absolute; left: 3%; top: 30px; width: 70px; height: 70px; z-index: 2;animation: rotate_image  6s linear infinite;  }
@keyframes rotate_image{ 100% { transform: rotate(360deg); } }
.best_items .swiper{ width: 80%;}
.best_items .swiper-slide a{ display: block; }
.best_items .swiper-slide .img_wrap{ width: 100%; overflow: hidden; }
.best_items .swiper-slide .img_wrap img{ width: 100%; object-fit: cover; transition: .6s; }
.best_items .swiper-slide .img_wrap:hover img{ transform: scale(1.1); }
.best_items .swiper-slide .txt_wrap{ position: relative; margin-top: -3%; text-align: center; }
.best_items .txt_wrap .best_name{ display: block; font-size: 18px; line-height: 25px; font-weight: bold; margin-bottom: 15px; }
.best_items .txt_wrap p{ font-size: 13px; line-height: 17px; color: #727272; margin-bottom: 23px;  }
.best_items .txt_wrap .best_price{ display: inline-block; position: relative; font-size: 13px; font-family: 'GT_C', Helvetica, sans-serif;color: #acacac; }
.best_items .txt_wrap .best_price::after{ content:''; width: 100%; height: 1px; position: absolute; left: 0; top: 50%; transform: translateY(-50%); background: #acacac; }
.best_items .txt_wrap .best_sale{ display: block; font: bold 16px/25px 'GT_C', Helvetica, sans-serif; color: #1a1a1a; margin-bottom: 24px;}
.best_items .txt_wrap .cart_btn{ display: inline-block; font: bold 12px/40px 'GT_R', Helvetica, sans-serif; width: 110px; height: 40px; border: 2px solid #000; transition: .3s; }
.best_items .txt_wrap .cart_btn:hover{  background: #000; color: #fff; }
.best_items>a{ position: absolute; top: 50%; background: url(../images/nav_right.svg) no-repeat; width: 12px; height: 21px; background-size:cover; z-index: 2; }
.best_items>a.prev{ left: 15px; transform: translateY(-50%) scale(-1);  }
.best_items>a.next{ right: 15px; transform: translateY(-50%);}

/*** Denim Item Area ****/
.denim_content{ position: relative; overflow: hidden; }
.denim_content .swiper{ position: absolute; padding: 0 10px 40px; visibility: hidden; opacity: 0; }
.denim_content .swiper.active{ position: relative; visibility: visible; opacity: 1; }
.denim_content .swiper-slide ul{ display: flex; }
.denim_content .swiper-slide ul li{ position: relative; margin-right: 10px; width: calc(50% - 5px); }
.denim_content .swiper-slide a{display: block;  }
.denim_content .swiper-slide li:last-child{ margin-right: 0; }
.denim_content .swiper-slide img{ width: 100%; object-fit: cover; margin-bottom: 10px;}
.denim_content .swiper-slide .txt_box{ text-align: center; line-height: 22px; }

.denim_content .txt_box .name{ width: 100%; }
.denim_content .txt_box .price{float: none; }

.denim_items .swiper .pagination{ position: absolute; bottom: 0; top: auto; left: 50%; transform: translateX(-50%); width: 90%; }
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{ height: 2px; background: #000;}
.swiper>.swiper-pagination-progressbar{ height: 2px; background: #e2e2e2; }

/*** MD item Area ****/

.md_items .md_content{ position: relative; overflow: hidden; }
.md_items .md_content .swiper{ padding: 0 10px 40px; position: absolute; visibility: hidden; opacity: 0; }
.md_content .swiper.active{ position: relative; visibility: visible; opacity: 1; }
.md_content .swiper-slide ul li{ position: relative; float: left; width: calc(50% - 5px); margin: 0 10px 10px 0; }
.md_content .swiper-slide ul li:nth-child(2n){ margin-right: 0; }
.md_content .swiper-slide ul li:nth-child(n+3){ margin-bottom: 0; }
.md_content .swiper-slide a { display: block; }
.md_content .swiper-slide img { width: 100%; object-fit: cover; }

.md_content .swiper .pagination{ position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); text-align: center; }

/*** exclu Area ****/
.exclu .tit{text-align: center; }
.exclu .tit h2{ display: inline-block;}
.exclu .tit .more_btn{ position: relative; display: inline-block; width: 20px; height:20px; vertical-align: -4px; }
.exclu .tit .more_btn::before{ content:'';  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);  width: 2px; height: 14px; background: #000; }
.exclu .tit .more_btn::after{ content:'';  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);  width: 14px; height: 2px; background: #000; }

.exclu .swiper{ padding: 0 10px; }
.exclu .swiper-slide>a>img{ width: 100%; object-fit: cover; }
.exclu .swiper-slide .list li{ padding: 15px 0; }
.exclu .swiper-slide .list li:first-child{ border-bottom: 1px solid rgba(204,204,204, 0.2);  }
.exclu .swiper-slide .list li a{ display: flex; justify-content: space-between;}
.exclu .swiper-slide .list li a img{ width: 100px; object-fit: cover; }
.exclu .swiper-slide .list .txt_box{ position: relative; width: calc(100% - 110px); padding-top: 10px; }
.exclu .swiper-slide .list .txt_box .name{ margin-bottom: 40px; }
.exclu .swiper-slide .list .txt_box .price{ margin-right: 10px; }
.exclu .swiper-slide .list .txt_box .cate{ display: block;
 font-size: 13px; font-family: 'Helvetica Neue M'; text-indent: 5px; color: #333; margin-bottom: 5px;}
.exclu .swiper-slide .list .txt_box .cost{ display: inline-block;
  position: relative; font-size: 12px; color: #aaa;  margin-top: 2px; }
.exclu .swiper-slide .list .txt_box .cost::after{ content:''; position: absolute; left: 0;top: 50%; transform: translateY(-50%); width: 100%; height: 1px; background: #aaa; }
.exclu .swiper-slide .list .txt_box .sale{ position: absolute; top: 50%; right: 10px; transform: translateY(-50%); }

/*** Trend Area ****/
.trend .trend_nav{ text-align: center;  margin-bottom: 20px;}
.trend .trend_nav ul{ display: inline-block; vertical-align: top; }
.trend .trend_nav ul li{ float: left; margin-right: 5px;}
.trend .trend_nav ul li:last-child{ margin-right: 0; }
.trend .trend_nav ul li a{ display: block; padding: 0 5px; font-size: 13px; line-height: 25px; letter-spacing: -.28px; text-align: center; color: #777; border-radius: 5px; background: #f5f5f5; }
.trend .trend_nav ul li.active a{ color: #fff; background: #000; }

.trend .trend_content{ position: relative; overflow: hidden; padding: 0 10px; }
.trend .trend_content .trend_list{ position: absolute; visibility: hidden; opacity: 0; }
.trend .trend_content .trend_list.active{ position: relative; visibility: visible; opacity: 1; }
.trend .trend_list li{position: relative; float: left; width: calc(50% - 5px); margin: 0 10px 10px 0; }
.trend .trend_list li:nth-child(2n){ margin-right: 0; }
.trend .trend_list li:nth-child(n+4){ margin-bottom: 0; }
.trend .trend_list li a{ display: block;  }
.trend .trend_list li img{ width: 100%; object-fit: cover; }
.trend .trend_list li .txt_box{ width: 100%; position: absolute; bottom: 0; left: 0; color: #fff; padding: 5px; box-sizing: border-box; }
.trend .trend_list li .txt_box .name{ color: #fff; }
.trend #trend01 li:last-child{ width: 100%; }

/*** Ranking Area ****/

.ranking{ position: relative; overflow: hidden; }
.ranking .swiper{ padding: 0 10px 40px; position: absolute; visibility: hidden; opacity: 0; }
.ranking .swiper.active{ position: relative; visibility: visible; opacity: 1; }
.ranking .swiper-slide li{ float: left; width: calc((100% - 20px)/3); margin: 0 10px 10px 0;  }
.ranking .swiper-slide li:nth-child(3n){ margin-right: 0; }
.ranking .swiper-slide li:nth-child(n+4){ margin-bottom: 0; }
.ranking .swiper-slide li{ position: relative; }
.ranking .swiper-slide a{ display: block;  }
.ranking .swiper-slide img{ width: 100%; object-fit: cover; }
.ranking .swiper-slide .txt_box{ text-align: center; margin-top: 10px; }
.ranking .swiper-slide .txt_box .name{ width: 100%; }
.ranking .swiper-slide .txt_box .price{ float: none; }
.ranking .swiper-slide .rank_num{ position: absolute; left: 0; top: 0; width: 20px; height: 20px; background: rgba(0,0,0, .5); color: #fff; font-size: 10px; text-align: center; line-height: 20px; }

.ranking .swiper .pagination{ position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); text-align: center;  }
.ranking .heart_box{ top: 3px; right: 3px; }

/*** Guess TV Area ****/
.g_tv{ background: #1a1a1a; padding: 80px 0; }

/* Title */
.g_tv .tit{ text-align: center; }
.g_tv .tit h2{ display: inline-block; color: #fff; margin-right: 5px; }
.g_tv .tit .more_btn{ position: relative; display: inline-block; width: 20px; height:20px; vertical-align: -4px; }
.g_tv .tit .more_btn::before{ content:'';  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);  width: 2px; height: 14px; background: #fff; }
.g_tv .tit .more_btn::after{ content:'';  position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);  width: 14px; height: 2px; background: #fff; }

.g_tv .swiper{ position: relative; padding-bottom: 60px;  }
.g_tv .swiper-slide{ position: relative; }
.g_tv .swiper-slide::after{ content:''; position: absolute; left: 0; top: 0; bottom: 0; right: 0; background: rgba(0,0,0, 0.7); }
.g_tv .swiper-slide-active::after{ background: rgba(0,0,0, 0); z-index: -1;  }
.g_tv .swiper-slide a{ display: block; }
.g_tv .swiper-slide img{ width: 100%; object-fit: cover; }
.g_tv .swiper-slide .txt_box{ padding: 20px; background: #fff;}
.g_tv .swiper-slide .txt_box h3{ display: block; line-height: 20px; font-family: 'Helvetica Neue M', sans-serif; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-bottom: 4px;  }
.g_tv .swiper-slide .txt_box p{ height: 36px; font-size: 12px; line-height: 18px; color: #777; white-space: normal;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }

/* Youtube Area */
.youtube_wrap{ display: flex; justify-content: center; align-items: center; position: fixed; left: 0; top: 0; background: rgba(0,0,0, .8); width: 100%; height: 100%; z-index: 20; visibility: hidden; opacity: 0; }
.youtube_wrap.active{ visibility: visible; opacity: 1; }
.youtube_wrap .close_btn{ position: absolute; right: 5%; top: 5%; outline: none; border: 0; margin:0; padding: 0; background-color: transparent; width: 14px; height: 14px; background: url(../images/close_wt.svg) no-repeat; background-size: 100%; cursor: pointer; }
.youtube_wrap .pop_tv{ position: relative; width: 100%; padding-bottom:  56.25%; }
.youtube_wrap .pop_tv iframe{ position: absolute; left: 0; top: 0; width: 100%; height: 100%;  }
.g_tv .swiper-slide .youtube_btn{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 40px; height: 40px; background: url(../images/popup.png) no-repeat; background-size: 100%; }
.g_tv .swiper .pagination{ position: absolute; bottom: 0;color: #fff; text-align: center; }
.g_tv .swiper-pagination-current{ color: #fff; }
.g_tv .swiper-pagination-total{ color: #777; }
.g_tv .swiper .pagination{ position: absolute; left: 50%; bottom: 4px; transform: translateX(-50%); width: auto;
font-size: 13px; font-family: 'Helvetica Neue R'; color: #777; }
.g_tv .swiper>button{ outline: none; border: 0; background-color: transparent; margin: 0; padding: 0; position: absolute; bottom: 4px; cursor: pointer; }
.g_tv .swiper button.prev{ left: 35%; width: 7px; height: 13px; background: url(../images/next_tv.svg) no-repeat; background-size: cover; transform: scale(-1); }
.g_tv .swiper button.next{ right: 35%; width: 7px; height: 13px; background: url(../images/next_tv.svg) no-repeat;  background-size: cover; }

/*** Guess Style Area ****/
.g_style .style_con{ padding: 0 10px; }
.g_style .style_con li{ box-sizing: border-box; float: left; position: relative; width: calc((100% - 20px)/3); padding-bottom: 33.3%; margin: 0 10px 10px 0;}
.g_style .style_con li:nth-child(3n){ margin-right: 0; }
.g_style .style_con li:nth-child(n+7){ margin-bottom: 0; }
.g_style .style_con li a{ display: block; }
.g_style .style_con li a img{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }

