@charset "utf-8";

/* body */
body{
  /* font-family: 'Helvetica Neue R', sans-serif;  */
  /* font-family: 'Helvetica Neue M', sans-serif; */
  /* font-family: 'Paybooc_M',sans-serif; */
  /* font-family: 'GT_R' , sans-serif; */
  min-width: 320px;
  font-family: "Noto Sans KR",sans-serif;
  font-size: 14px;
}


/* Header */
header{ position: fixed; left: 0; top: 0; width: 100%; z-index: 6; }
/* Navi */
header .navi{ padding: 0 15px; height: 50px; line-height: 50px; display: flex; position: relative; justify-content: space-between; align-items: center; background: #2d2d2d;  }
header .navi h1{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
header .navi h1 a{ display: block; background: url(../images/logo.png) no-repeat; width: 46px; height: 40px; background-size: 100%; }
header .navi button{ border: 0; outline: none; background: transparent; margin: 0; padding: 0; cursor: pointer; }
header .navi button.search_btn{ background: url(../images/search3.svg) no-repeat ; width: 20px; height: 20px; background-size: 100%; cursor: pointer; }
header .navi .menu_btn{ position: relative; width: 23px; height: 16px; }
header .navi .menu_btn .bar{ height: 2px; position: absolute; left: 50%; transform: translateX(-50%) rotate(0); background: #ddd; transition: .8s; }
header .navi .menu_btn .bar1{ top: 0; width: 23px; }
header .navi .menu_btn .bar2{ top: 7px; width: 17px; opacity: 1; }
header .navi .menu_btn .bar3{ top: 14px; width: 11px; }
/* 활성화 */
header .navi .menu_btn.on{ z-index: 10; top: 10px; }
header .navi .menu_btn.on .bar{ top: 0; background: #2d2d2d; }
header .navi .menu_btn.on .bar1{ width: 17px;  transform: translateX(-50%) rotate(135deg);  }
header .navi .menu_btn.on .bar2{ opacity: 0; }
header .navi .menu_btn.on .bar3{ width:17px;  transform: translateX(-50%) rotate(45deg);  }

/* Gnb Area */
header .gnb_area{ box-sizing: border-box; padding: 20px; position: fixed; right: -100%; top: 0; width: 100%; height: 100%; background: #fff; font-family: 'Helvetica Neue M' ,sans-serif; overflow: hidden; transition: .4s; }
header .gnb_area.active{ right: 0; }
header .gnb_area .lang_area{ height: 40px; display: flex; }
header .gnb_area .lang_area li a::after{ content:''; display: inline-block; width: 1px; height: 12px; vertical-align: bottom; background: rgba(151,151,151, 0.3); margin: 0 10px; }
header .gnb_area .lang_area li.active a{ font-weight: bold; }
header .gnb_area .join_area{ display: flex; justify-content: space-between;  }
header .gnb_area .join_area .join{ display: flex; }
header .gnb_area .join_area li{ margin-right: 15px; }
header .gnb_area .join_area li a{ display: block; height: 40px; line-height: 40px; color: #777; }
header .gnb_area .join_area .search_btn2{ padding: 0; margin: 0; outline: none; border: 0; background-color: transparent; padding-left: 40px; font-size: 12px; color: #777; font-weight: bold; cursor: pointer; }
header .gnb_area .join_area .search_btn2::before{ content:''; display: inline-block; vertical-align: top; background: url(../images/search.svg) no-repeat; background-size: 100%; width: 14px; height: 14px;margin:2px 5px 0 0;  }
header .gnb_area .menu_list{ margin-top: 20px; }
header .gnb_area .menu_list li a{ position: relative; display: block; height: 50px; font:  16px/50px 'Helvetica Neue M' ,sans-serif; padding-right: 50px; }
header .gnb_area .menu_list li a::after{ content:''; position: absolute; top: 50%; right: 0; transform: translateY(-50%); width: 16px; height: 16px; background: url(../images/next.svg) no-repeat; background-size: 100%; }


/* Footer */
footer{ background: #fafafa; text-align: center; padding-bottom: 80px; }
footer .quick_link{ background: #2d2d2d; }
footer .quick_link ul{ display: flex; }
footer .quick_link ul li{  width: 25%; }
footer .quick_link ul li a{ position: relative; display: block; line-height: 40px; height: 40px; color: #fff; font-size: 12px;  }
footer .quick_link ul li a::after{ content:'';position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 10px; background: #fff; }
footer .quick_link ul li:last-child a::after{ display: none; }
footer .f_area{ padding-top: 25px; }
footer .f_area .sns{ margin-bottom: 15px; }
footer .f_area .sns ul{ display: inline-block; vertical-align:top; }
footer .f_area .sns ul li{ float: left; margin-right: 20px; }
footer .f_area .sns ul li:last-child{ margin-right: 0; }

footer .f_area .sns ul li a.insta::after{ background: url(../images/insta.png) no-repeat; background-size: 100%; }
footer .f_area .sns ul li a.blog::after{ background: url(../images/blog.png) no-repeat; background-size: 100%; }
footer .f_area .sns ul li a.kakao::after{ background: url(../images/kakao.png) no-repeat; background-size: 100%;  }
footer .f_area .sns ul li a::after{ content:''; display: block; width: 35px; height: 35px; border-radius: 50%; background-size: 100%;}

footer .fam_site{ display: inline-block; vertical-align: top; background: url(../images/logo2.png) no-repeat; width: 112px; height: 22px; background-size: 100%; margin-bottom: 20px; }

footer address{ font-size: 10px; line-height: 15px; text-align: center; color: #777; }
footer address span::before{ content:''; display: inline-block; vertical-align: top; width: 1px; height: 7px; margin: 5px 5px 0; background: #777; }
footer .legal_link ul{ display: inline-block; vertical-align: top; }
footer .legal_link li{ float: left; }
footer .legal_link a{ display: inline-block; font-size: 11px; line-height: 50px; color: #777; }
footer .legal_link ul li a::after{ content:''; display: inline-block; width: 1px; height: 7px; background: #000; margin: 0 10px ; }
footer .legal_link ul li:last-child a::after{display: none;}
footer .copyright{ font-size: 9px; text-align: center; color: #777;}

footer .f_nav{ position: fixed; left: 0; bottom: 0; width: 100%; height: 50px; background: #2d2d2d; line-height: 50px; z-index:  10;  }
footer .f_nav ul{ display: flex; padding: 0 15px; justify-content: space-between; }
footer .f_nav ul li{ width: 50px; height: 50px;  }
footer .f_nav li a.home{  background: url(../images/home1.png) no-repeat; background-size: 100%; }
footer .f_nav li a.back{ background: url(../images/back2.png) no-repeat; background-size: 100%;  }
footer .f_nav li a.book_mark{ background: url(../images/heart2.png) no-repeat; background-size: 100%;  }
footer .f_nav li a.mypage{ background: url(../images/mypage2.png) no-repeat; background-size: 100%;  }
footer .f_nav li a{ display: block; width: 100%; height: 50px; background-position: center; }
footer .top{ position: fixed; bottom: 60px; right: 10px; width: 30px; height: 30px; background: url(../images/top1.svg) no-repeat;  background-size: 100%; z-index: 9;}