@charset "utf-8";
@font-face {
  font-family: 'Schnyder';
  src: url('../fonts/SchnyderL/SchnyderL-Light.eot');
  src: local('Schnyder L Light'), local('SchnyderL-Light'),
      url('../fonts/SchnyderL/SchnyderL-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SchnyderL/SchnyderL-Light.woff2') format('woff2'),
      url('../fonts/SchnyderL/SchnyderL-Light.woff') format('woff'),
      url('../fonts/SchnyderL/SchnyderL-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT_R';
  src: url('../fonts/GT America/GTAmerica-Regular.eot');
  src: local('GT America Regular'), local('GTAmerica-Regular'),
      url('../fonts/GT America/GTAmerica-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GT America/GTAmerica-Regular.woff2') format('woff2'),
      url('../fonts/GT America/GTAmerica-Regular.woff') format('woff'),
      url('../fonts/GT America/GTAmerica-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT_C';
  src: url('../fonts/GT America/GTAmerica-CondensedLight.eot');
  src: local('GT America Condensed Light'), local('GTAmerica-CondensedLight'),
      url('../fonts/GT America/GTAmerica-CondensedLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GT America/GTAmerica-CondensedLight.woff2') format('woff2'),
      url('../fonts/GT America/GTAmerica-CondensedLight.woff') format('woff'),
      url('../fonts/GT America/GTAmerica-CondensedLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.blind{
  position: absolute;
  width: 1px; height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  clip: rect(0, 0, 0, 0);
}

.clear::after{
  content:'';
  display: block;
  clear: both;
}

.inner{ width: 1360px; margin: auto; }
.hidden{ overflow: hidden; }

/* UI Effect */
.effect01>li::after{ content:''; position: absolute; left: 0; top: 0; background: #fff; width: 100%; height: 2px; transition-duration: 0.4s;  visibility: hidden; opacity: 0;}
.effect01>li:hover::after{ visibility: visible; opacity: 1; }
.effect02 a:hover { color: #787878; transition-duration: 0.4s; transition-timing-function: ease;   transition-delay: 0s;  }


/* Language Box */
.lang_box{ position: relative; width: 70px; cursor: pointer; }
.lang_box .label{ position: relative; border: 0; outline: 0; margin: 0; padding: 0 0 0 10px; background-color: transparent; color:#e5e1cf; }
.lang_box .option_list{ width: 70px; height: 0; visibility: hidden; opacity: 0; background: #2d2d2d; text-align: center; }
.lang_box .option_list li .option_items { display: block; height: 25px; line-height: 25px; font-size: 14px; font-family: 'GT_R', sans-serif; }
.lang_box .angle_down{ position: absolute; right: 5px; top: 10px;}

/*  활성화 */
.lang_box.active .option_list{ padding: 10px 0; height: 75px; visibility: visible; opacity: 1; position: absolute; bottom: -100px; left: 0;   }

/* Button */
.btn_group{ display: flex; }
.btn{ display: inline-block; height: 65px; line-height: 65px; text-align: center; font-family: 'GT_C';  }
.order_btn{ position: relative; background: #fff; color: #1b1b1b; }
.order_btn::before{content:''; position: absolute; left:0; top: 0; width: 0; height: 65px; background: #9d857f; transition: 0.3s;}
.order_btn:hover{ z-index: 2; color: #fff;}
.order_btn:hover::before{ left: auto; right: 0; width: 100%; height: 100%; z-index: -1;}
.order_btn1{ width: 175px; }
.order_btn2{ width: 165px;}

.learn_btn{ color: #fff;}
.learn_btn1{width: 175px; }
.learn_btn2{width: 165px;}
.learn_btn span{ position: relative; }
.learn_btn span::before{ content: ''; position: absolute; bottom: -2px; right: 0; width: 100%; height: 1px; background: #fff; }
.learn_btn span::after{ content:''; position: absolute; bottom: -2px; right:0; width: 0; height: 1px; background: #fff;  }
.learn_btn:hover span::before{ width: 0; right: auto; left: 0;transition: 0.3s;  }
.learn_btn:hover span::after{ width: 100%; left:auto; right: 0; transition:0.5s 0.5s;}

/* 슬라이더 버튼 공통 */
.nav_btn{ position: absolute; left: 50%; top: 50%; padding: 0; margin: 0;  transform: translate(-50%, -50%); width: 47px; height: 47px; border-radius: 50%; outline:none; background-color: transparent; border: 1px solid rgba(255,255,255, 0.8); z-index: 2; transition: all .3s; cursor: pointer; }
.nav_btn.prev:hover,
.nav_btn.next:hover
{ background: rgba(255,255,255, 0.8); }
.nav_btn.prev::before{ background: url(../images/prev.svg) no-repeat; transform: scaleX(-1); }
.nav_btn.next::before{ background: url(../images/next.svg) no-repeat;  }
.nav_btn.prev::after{ background: url(../images/prev2.svg) no-repeat; visibility: hidden; opacity: 0; }
.nav_btn.next::after{ background: url(../images/next2.svg) no-repeat; visibility: hidden; opacity: 0; }
.nav_btn.prev::before,
.nav_btn.next::before,
.nav_btn.prev::after,
.nav_btn.next::after
{ content:''; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 20px; height: 20px; background-position: center; }
.nav_btn.prev::before,
.nav_btn.prev::after{ transform: translate(-50%,-50%) scaleX(-1); }
.nav_btn.prev:hover::before,
.nav_btn.next:hover::before{ visibility: hidden; opacity: 0; }
.nav_btn.next:hover::after,
.nav_btn.prev:hover::after{ visibility: visible; opacity: 1;}