@charset "utf-8";

body{  
  /* font-family: 'GT_R', sans-serif; */
  /* font-family: 'GT_C', sans-serif; */
  font-family: 'Schnyder', sans-serif;
  min-width: 1360px; 
  font-size: 16px;
  letter-spacing: .025em; 
}

/**** Header ****/
header{ position: fixed; width: 100%; left: 0; top: 0;  font: 14px/21px 'GT_R', sans-serif; color: #fff; z-index: 10; transition: 0.7s; }
header.fixed{ background: rgba(0,0,0, 0.7); }

/*** Navi ***/
.navi{ position: relative; display: flex;  height: 80px; line-height: 80px; padding: 0 90px; justify-content: space-between; }
/* Logo */
.navi h1{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.navi h1 a{ display: block; background: url(../images/logo2.svg) no-repeat; width: 120px; height: 30px; }
/* Quick Link */
.navi .quick_link li{position: relative; float: left; margin-right: 30px;}
.navi .quick_link li:last-child{ margin-right: 0; }
.navi .quick_link li a{   display: block; }

/* Util Area */
.navi .util_area{ display: flex; }
.navi .util_area ul li{position: relative; float: left; margin-right: 30px; }
.navi .util_area ul li a{ display: block; }

/* Menu Button */
.navi .util_area .menu_btn{ position: relative; outline: none ; border: 0; background-color: transparent; margin: 0;  width: 18px; height: 17px; margin-top: 34px; cursor: pointer; }
.navi .util_area .menu_btn .bar{  position: absolute; left: 0; top: 0;  height: 1px; width: 16px; background: #fff;  }
.navi .util_area .menu_btn .bar1{ margin-top: 0;}
.navi .util_area .menu_btn .bar2{ margin-top: 5px; }
.navi .util_area .menu_btn .bar3{ margin-top: 10px; }
.navi .util_area .menu_btn:hover .bar{ width: 0; }
.navi .util_area .menu_btn .bar::before{  content:''; position: absolute; left: 0; top: 0; width: 16px; height: 1px; background: #fff; }
.navi .util_area .menu_btn .bar::after{ content:''; position: absolute; left: 0; top: 0; width: 0; height: 1px; background: #fff;  }
.navi .util_area .menu_btn:hover .bar1::before{ width: 0; transition: 0.3s;  }
.navi .util_area .menu_btn:hover .bar1::after{ width: 16px; transition: 0.2s 0.5s; }
.navi .util_area .menu_btn:hover .bar2::before{width: 0; transition: 0.2s;  }
.navi .util_area .menu_btn:hover .bar2::after{ width: 16px;  transition: 0.3s 0.4s; }
.navi .util_area .menu_btn:hover .bar3::before{width:0; transition: 0.1s; }
.navi .util_area .menu_btn:hover .bar3::after{ width: 16px;  transition:  0.4s 0.3s; }


/*** Gnb Area ***/
.gnb_area{ box-sizing: border-box; position: fixed; right: -410px; top: 0; width: 370px; height: 100%; overflow-y: auto; background: #1b1b1b; padding: 65px 40px 40px; transition: 0.4s; font-family: 'GT_R', sans-serif; }
/* 활성화 */
.gnb_area.active{ right: 0; }

/* Close Button */
.gnb_area .close_btn{ position: absolute; right: 25px; top: 30px;  width: 25px; height: 25px; border: 0; outline: none; padding: 0; margin: 0; background-color: transparent; cursor: pointer;}
.gnb_area .close_btn>i{ width: 15px; height: 1px; background: #fff; position: absolute; left: 50%; top: 50%; }
.gnb_area .close_btn>i.v_line{ transform: translate(-50%, -50%) rotate(45deg); }
.gnb_area .close_btn>i.h_line{ transform: translate(-50%, -50%) rotate(135deg);  }

/* Common */
.gnb_area>ul{ margin-bottom: 40px; }
.gnb_area a{ display: block; line-height: 40px; height: 40px; color:#e5e1cf;  }

/* Join Area */
.gnb_area .join{ display: flex; }
.gnb_area .join li{ margin-right: 30px;}

/* List Group Area */
.gnb_area .list_group>li>a { display: block; font-size: 20px; color: #fff; }
.gnb_area .list_group>li>a:hover{ color: #787878; transition-duration: 0.4s; transition-timing-function: ease;   transition-delay: 0s;  }
.gnb_area .list_group .list>a{ display: flex; justify-content: space-between;}
.gnb_area .list_group .list .sub{ height: 0; overflow: hidden; }
.gnb_area .list_group .list .sub ul li a{ line-height: 35px;  }

/* More Button */
.gnb_area .list_group .list .more_btn{ width: 20px; height: 20px; position: relative; margin-top: 10px; }
.gnb_area .list_group .list .more_btn>i{ position: absolute; left: 50%; top: 50%; background: #fff;  transform: translate(-50%, -50%) rotate(0); transition: transform 0.4s; }
.gnb_area .list_group .list .more_btn>i.v_line{ width: 1px; height: 17px; }
.gnb_area .list_group .list .more_btn>i.h_line{ width: 17px; height: 1px; }

/* 활성화 */
.gnb_area .list_group .list.on .more_btn>i.v_line{  transform: translate(-50%, -50%) rotate(90deg); }
.gnb_area .list_group .list.on .more_btn>i.h_line{  transform: translate(-50%, -50%) rotate(180deg); }

/* Util Menu */
.gnb_area .util_menu{ display: flex; margin-bottom: 15px;}
 .util_menu li{ margin-right: 30px; }

/* SNS Menu */
.gnb_area .sns_menu{ display: flex; }
.gnb_area .sns_menu li{ margin-right: 20px; }

.gnb_area .sns_menu li a.facebook_icon::before{ background: url(../images/m-f.svg) no-repeat;}
.gnb_area .sns_menu li a.facebook_icon:hover::before{ background: url(../images/m-f2.svg) no-repeat; }
.gnb_area .sns_menu li a.insta_icon::before{ background: url(../images/m-i.svg) no-repeat; }
.gnb_area .sns_menu li a.insta_icon:hover::before{ background: url(../images/m-i2.svg) no-repeat; }
.gnb_area .sns_menu li a.twitter_icon::before{ background: url(../images/m-twi.svg) no-repeat; }
.gnb_area .sns_menu li a.twitter_icon:hover::before{ background: url(../images/m-twi2.svg) no-repeat; }
.gnb_area .sns_menu li a.youtube_icon::before{ background: url(../images/m-y.svg) no-repeat; }
.gnb_area .sns_menu li a.youtube_icon:hover::before{ background: url(../images/m-y2.svg) no-repeat; }

.sns_menu a.facebook_icon::before, 
.sns_menu a.insta_icon::before, 
.sns_menu a.twitter_icon::before, 
.sns_menu a.youtube_icon::before
{ content:''; display: inline-block; width: 24px; height: 24px; background-position: center; transition: all 0.3s; }

/**** Footer ****/

/****f_nav_pdt Area Start****/

.f_nav_pdt{ padding: 90px 0; background: #ededed; }
.f_nav_pdt .inner{ display: flex; }
.f_nav_pdt .inner>ul{ width: calc(50% - 50px); padding-left: 50px; display: flex; }
.f_nav_pdt .inner>ul>li{ width: 50%; }
.f_nav_pdt strong{ display: block; height: 50px;  font: 25px/50px  'GT_R', sans-serif; margin-bottom: 15px; }
.f_nav_pdt .inner>ul>li ul li a{ position: relative;display: inline-block; font: 19px/35px 'GT_R', sans-serif; color: rgba(27,27,27, 0.8); margin-bottom: 9px;  }
.f_nav_pdt .inner>ul>li ul li a::after{ content:''; position: absolute; left: 0; bottom: 0; width: 0; height: 1px; background: #000; transition: .4s; }
.f_nav_pdt .inner>ul>li ul li:hover a::after{ width: 100%; }

/****f_nav_info Area Start****/

.f_nav_info{ padding-bottom: 90px; background: #ededed;}
.f_nav_info .inner{ display: flex; box-sizing: border-box; padding: 0 50px;}
.f_nav_info .inner>li{ width: 25%; }
/* Language Box */
.f_nav_info .lang_box .label{ color:#1b1b1b; }
.f_nav_info .lang_box .option_list{ background: #fff; }
.f_nav_info .option_items:hover{ background: #ddd; }

/* Footer SNS */
.f_nav_info .sns{ display: flex; }
.f_nav_info .sns>li{ display: flex; justify-content: center;  margin-right: 28px;}
.f_nav_info .sns li a{ position: relative; }
.f_nav_info .sns li a::after{ content:''; position: absolute; left: 0; bottom: -6px; width: 0; height: 1px; background: #000; transition: .3s; }
.f_nav_info .sns li:hover a::after{ width: 100%; }
.f_nav_info .sns li a.insta2{ background: url(../images/insta.svg) no-repeat;  width: 21px; height: 21px; background-size: 100%; }
.f_nav_info .sns li a.twitter2{ background: url(../images/twitter.svg) no-repeat;  width: 22px; height: 20px; background-size: 100%; }
.f_nav_info .sns li a.youtube2{ background: url(../images/youtube.svg) no-repeat;  width: 24px; height: 16px; background-size: 100%; margin-top: 3px; }
.f_nav_info .sns li a.facebook2{ background: url(../images/facebook.svg) no-repeat;  width: 22px; height: 22px; background-size: 100%; }

.f_nav_info .legal_link, .copyright{ font-size: 12px;font-family: 'GT_R',sans-serif;  line-height: 30px; color: rgba(27,27,27, 0.8); ; padding-left: 50px; }

.caution{ box-sizing: border-box; width: 100%; padding: 40px; background: #e1e0dc; }
.caution .inner{ width: 100%; }
.caution .inner p{ font: 400 12px/18px 'arial', sans-serif; color: rgba(64,66,52); }

